* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    font-family: 'Figtree', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    object-fit: cover;
    max-width: 100%;
    height: auto;
    margin: 0;
}

.hero {
    padding-top: 180px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    animation-name: fadeIn;
    animation-duration: 2s;
}

.hero img {
    display: flex;
    width: 66%;
    height: 80%;
}

.header {
    display: flex;
    overflow: hidden;
    margin: 0;
    justify-content: space-between;
    padding: 20px 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: #ffffff;
    border-bottom: 2px #3f3d3d solid;
}

.footer {
    display: flex;
    border-top: 2px #3f3d3d solid;
    padding: 30px 150px;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}

.footer-copyright {
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.texts {
    display: flex;
    flex-direction: column;
    flex-basis: 45rem;
    align-items: flex-start;
    justify-content: center;
    padding: 40px;
}

.main-text {
    color: #eb3030;
    font-size: 48px;
    font-weight: bold;
    animation-name: slideInDown;
    animation-duration: 0.75s;
    margin-bottom: 0;
}

.sec-text {
    display: flex;
    padding-top: 16px;
    font-size: 28px;
    animation-name: slideInDown;
    animation-duration: 0.75s;
    margin-bottom: 0;
}

.top-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-link:hover,
.create-link:hover,
.top-links a:hover {
    color:#eb3030;
}
  
ul {
    list-style-type: none;
    gap: 24px;
    margin: 0;
    padding: 0;
}
  
a {
    text-decoration: none;
    font-size: 18px;
    color: #000000;
}

.logo {
    display: flex;
}

.foodaid {
    background-color: transparent;
    width: 150px;
    height: 75px;
    display: flex;
}

.btn-container {
    margin: 0;
    padding-top: 20px;
}

#signuplogin,
.btn1 {
    padding: 15px 35px;
    margin: 8px;
    border: none;
    background-color: #eb3030;
    color: #000000;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    transition: color 3s ease-in-out;
  }
  
  .btn1:hover {
    background-color: #e01010;
    cursor: pointer;
  }

  .btn2 {
    padding: 15px 35px;
    margin: 8px;
    border: 1px solid #eb3030;
    background-color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    transition: color 3s ease-in-out;
  }

  .btn2:hover {
    background-color: #e01010;
    cursor: pointer;
  }

  .introduction {
    margin-top: 60px;
    display: flex;
    padding: 180px 100px;
    gap: 80px;
    background-color: #d6d5d5;
}

.intro-text {
    display: flex;
    flex-direction: column;
    flex-basis: 40rem;
    flex: 1;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.intro-main {
    color:#eb3030;
    display: flex;
    font-size: 48px;
    font-weight: bold;
}

.intro-sec {
    display: flex;
    font-size: 22px;
    line-height: 35px;
}

.title {
    color:#eb3030;
    padding-top: 100px;
    margin: 32px;
    font-size: 36px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.food-con {
    display: flex;
    margin-left: 48px;
    margin-right: 48px;
    padding-top: 16px;
    padding-bottom: 150px;
    flex-wrap: wrap;
    row-gap: 60px;
}

.food-con img {
    display: flex;
    width: 200px;
    height: 200px;
}

.description {
    display: flex;
    flex-flow: column wrap;
    flex: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 18px;
    flex-basis: 25rem;
    font-size: 18px; 
}

/*login page*/
body#indexfa-page,
body#login-page,
body#create-page {
    background-color: #ebe9e9;
}

.login,
.create {
    padding-top: 180px;
    padding-bottom: 180px;
    display: flex;
    justify-content: center;
    flex-flow: row;
}

.login-form-box {
    margin: 0;
    display: flex;
    flex-flow: column;
    padding: 100px 100px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #ffffff;
}

.login-form-box {
    height: 650px;
    box-shadow: 0 1px 1px #888888;
}

.create-form-box {
    height: 900px;
    box-shadow: 0 1px 1px #888888;
    border-radius: 5px;
    margin: 0;
    display: flex;
    flex-flow: column;
    padding: 100px 100px;
    background-color: #ffffff;
}

.login-title,
.create-title {
    color:#eb3030;
    font-size: 36px;
    font-weight: 800;
}

.login-pic {
    display: flex;
    flex-flow: row;
}

.login-pic img {
    height: 650px;
    width: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 1px 1px #888888;
}

.login-button,
.signup-button {
    padding: 15px 35px;
    margin: 8px;
    border: none;
    background-color: #eb3030;
    color: #000000;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    transition: color 3s ease-in-out;
  }
  
  .login-button:hover,
  .signup-button:hover {
    background-color: #e01010;
    cursor: pointer;
  }

  .input-group {
    width: 85%;
    padding: 12px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid red;
  }

  .hlink,
  .create-link,
  .login-link {
    font-size: 14px;
    padding-top: 30px;
  }

/*admin index cards*/
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    padding-top: 180px;
    padding-bottom: 180px;
    gap: 50px;
    width: 100%;
    height: auto;
    margin: 0;
}

.card {
    background-color: #eb3030;
    width: 300px;
    height: 350px;
    margin: 50px;
    text-align: center;
    box-shadow: 0 1px 1px #888888;
}

.card a {
    background-color: #eb3030;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 20px 15px;
}
  
.card:hover,
.card a:hover { 
    background-color: #e01010;
    color: white;
    cursor: pointer;
    transform: scale(1.02);
    transition: all 0.3s ease; 
}

.card-img {
    height: 250px;
    width: 200px;
    margin-bottom: 15px;
    background-size: cover;
}